 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:error] %>
      <div class="notification is-danger">
          <%= flash[:error] %>
      </div>
  <% end %>
<%# ===================================================== %>

<form action="/users/<%=@user.id%>" method="post">
<input type="hidden" value="patch" name="_method">
    <label for="u_n">user name:</label>
    <input type="text" name="user[name]" id="u_n" value="<%=@user.name%>">
    <br>

    <input type="submit" value="submit changes">
</form>

<br>
<form onsubmit="return confirm('CONFIRMATION: permanently destroy your account?')" action="/users/<%=@user.id%>/delete" method="POST">
        <input type="hidden" value="delete" name="_method">
        <input type="submit" value="DESTROY ACCOUNT">
</form>
<br>
<a href="/users/<%=@user.id%>/change-password">CHANGE YOUR PASSWORD</a>

