<%# ===================================================== %>
 <%# FEEDBACK MESSAGES I WANT TO PROVIDE TO MY USER %>
  <% if flash[:message] %>
      <div class="notification is-danger">
          <%= flash[:message] %>
      </div>
  <% end %>
<%# ===================================================== %>
<div class="box" style="margin: 20px;">

    <div class="has-text-centered">
        <%= "DIARY ENTRY NUMBER : #{@entry.number}" %><br>
    </div>
        <%= "DATE: #{@entry.created_at.localtime.strftime("%A, %B %e, %Y")}" %><br>
        <%= "TIME: #{@entry.created_at.localtime.strftime("%l:%M%p")}"%><br>

        <%# TO ESCAPE ERB TAGS AND INDICATE WANTING THE LITERAL STRING '<%%' %>
        <%=% " %><%= "#{@entry.message}" %><%=% " %>

        <br>

        <a href="/entries/<%=@entry.id%>/edit">edit</a><br>


        <form onsubmit="return confirm('CONFIRMATION: permanently destroy entry?')" action="/entries/<%=@entry.id%>/delete" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="DESTROY ENTRY">
        </form>
</div>